@{
  Layout = "_Layout";
}

<div class="container">
  <h5>Enter new album</h5>
  <form action="/albums" method="post">
    <label for="title">Title: </label>
    <input id="title" name="title" type="text"><br>
    <button type="submit">Submit</button>
  </form>
</div>